# General
.DS_Store

# Project files
out
.idea
prog3-project-1718.iml

# Serialized Emails

src/common/emails/antonio.guarino@unito.it/inbox/*.txt
src/common/emails/antonio.guarino@unito.it/outbox/*.txt
src/common/emails/antonio.guarino@unito.it/drafts/*.txt

src/common/emails/lorenzo.tabasso@unito.it/inbox/*.txt
src/common/emails/lorenzo.tabasso@unito.it/outbox/*.txt
src/common/emails/lorenzo.tabasso@unito.it/drafts/*.txt

src/common/emails/youssef.mouaddine@unito.it/inbox/*.txt
src/common/emails/youssef.mouaddine@unito.it/outbox/*.txt
src/common/emails/youssef.mouaddine@unito.it/drafts/*.txt